* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: eeeeed;
}

section {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
